/* SIDEBAR RESPONSIVENESS */

@media screen and (max-width: 700px) {

    .sidebar {
        width: 50px;
        align-items: center;
        gap: 12px;
    }

    .logo-wrapper__logo--small{
        display: inline-block;
    }

    .logo-wrapper__logo--big {
        display: none;
    }

    .widget-menu {
        display: contents;
    }

    .widget-menu__option {
        display: none;
    }

    .widget-menu__item {
        border: 0;
        padding: 0;
    }

    .widget-menu__item--active, .widget-menu__item:hover {
        border: 0;
    }

    .widget-playlist {
        display: none;
    }

    .user-widget {
        padding: 10px;
        position: absolute;
        bottom: 0;
    }

    .user-widget__install-app {
        padding: 7px;
        border: 0;
    }

    .user-widget__install-app span {
        display: none;
    }

    .user-widget__name {
        display: none;
    }
}


/* MAIN BODY RESPONSIVENESS */

@media screen and (max-width:1240px) {
    .catalogue__card {
        width: 23%;
    }
}

@media screen and (max-width:880px) {
    .catalogue__card {
        width: 50%;
    }
}






/* TOOLBAR RESPONSIVENESS */

@media screen and (max-width: 700px) {
    #tool-bar .song-preview__icon-list {
        flex-direction: column;
    }
}