* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
   display: flex;
   flex-direction: column; 
   height: 100vh;
   color: white;
}



/* ---- MAIN ---- */


main {
    display: flex;
    flex-grow: 1;
}

/* sidebar */

main .main__sidebar {
    background-color: #000000;
    width: 230px;
    
}

/* main content */

main .main__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

main .main__content__header {
    background-color: #080B12;
    height: 90px;
}

main .main__content__body {
    background-color: #141922;
    flex-grow: 1;
}



/* ---- TOOL BAR ---- */

#tool-bar {
    background-color: #282828;
    height: 90px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}