* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
}

.container {
   display: flex;
   flex-direction: column; 
   height: 100vh;
   font-size: 14px;
   color: white;
   font-family: 'Gotham', sans-serif;
}




/* ---- MAIN ---- */

main {
    display: flex;
    flex-grow: 1;
    overflow: hidden;
}


/* SIDEBAR */

.sidebar {
    background-color: #000000;
    width: 230px;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    gap: 10px;
}

.logo-wrapper__logo--big {
    padding: 20px 20px 0 20px;
    width: 135px;
    margin-bottom: 20px;
}

.logo-wrapper__logo--small {
    width: 28px;
    margin:7px 0 5px;
    display: none;
}


/* SIDEBAR > Menu Widget */

.widget-menu {
    margin-bottom: 20px ;
}

.widget-menu__item {
    border-left: 3px solid black;
    padding: 7px 17px;
    display: flex;
    align-items: center;
    gap: 8px;
    color: #7D7F84;
    cursor: pointer;
}

.widget-menu__item--active , .widget-menu__item:hover {
    border-left: 3px solid #ADFF2F;
    color: #D2D2D2;
}

.widget-menu__item img {
    width: 22px;
    height: 22px;
}


/* SIDEBAR > PLaylist Widget */

.widget-playlist {
    display: contents;
}

.widget-playlist__title {
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 5px;
    padding-left: 20px;
}

.widget-playlist__create {
    display: flex;
    align-items: center;
    color: #7D7F84;
    gap: 10px;
    cursor: pointer;
    padding-left: 20px;
    margin-bottom: 5px;
}

.widget-playlist__create:hover {
    color: white;
}

.widget-playlist__create i {
    font-size: 37px;
}

.widget-playlist__list {
    flex-grow: 1;
    overflow: auto;
    padding-left: 20px;
}

.widget-playlist__item {
    color: #7D7F84;
    margin-bottom: 23px;
    cursor: pointer;
}

.widget-playlist__item:hover {
    color: white;
}


/* SIDEBAR > User Widget */

.user-widget {
    width: 100%;
    padding: 10px 20px;
    background-color: black;
}

.user-widget__install-app {
    color: #7D7F84;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 13px 0;
    border-bottom: 1px solid #7D7F84;
    margin-bottom: 14px;
    cursor: pointer;
}

.user-widget__install-app:hover {
    color: white;
}

.user-widget__profile {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user-widget__img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #7D7F84;
    overflow: hidden;
}


/* MAIN CONTENT */

.main-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}


/* MAIN CONTENT > Main Upgrade */

.main-upgrade {
    background-color: #080B12;
    height: 90px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 15px;
}

.main-upgrade__button {
    text-align: center;
    text-transform: uppercase;
    border: 1px solid white;
    border-radius: 20px;
    width: 220px;
    padding: 12px 0;
    cursor: pointer;
}

.main-upgrade__button:hover {
    scale: 1.1;
}


/* MAIN CONTENT > MAIN BODY */

.main-body {
    background-color: #141922;
    flex-grow: 1;
    overflow: auto;
}


/* MAIN BODY > Main Categories */

.main-categories {
    max-width: 680px;
    margin: 0 auto;
    padding: 20px;
}

.main-categories__list {
    display: flex;
    gap: 13px;
    flex-wrap: wrap;
    justify-content: center;
}

.main-categories__option {
    text-transform: uppercase;
    color: #6C6F74;
    white-space: nowrap;
    font-weight: 600;
    font-size: 13px;
    cursor: pointer;
}

.main-categories__option:hover {
    color: white;
}

.main-categories__option--active::after {
    content: "";
    width: 30px;
    height: 2px;
    margin: 5px auto;
    background-color: #ADFF2F;
    display: block;
}


/* MAIN BODY > catalogue */

.catalogue {
    padding: 20px;
}

.catalogue__title {
    font-weight: 600;
    font-size: 26px;
    margin-bottom: 15px;
}

.catalogue__description {
    color: #7D7F84;
    font-weight: 450;
    margin-bottom: 30px;
}

.catalogue__list {
    display: flex;
    
    gap: 15px;
}

.catalogue__card {
    width: 15%;
    max-width: 200px;
    text-align: center;
}

.catalogue__card-thumb{
    width: 100%;
}

.catalogue__card-thumb--circural {
    border-radius: 50%;
    overflow: hidden;
}

.catalogue__card-title {
    font-size: 15px;
    font-weight: 600;
    margin: 17px 0 8px;
}

.catalogue__card-subtitle {
    font-weight: 500;
    color: #7D7F84;
}

/* ---- TOOLBAR ---- */

#tool-bar {
    background-color: #282828;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    flex-shrink: 0;
}

#tool-bar  [class$="__icon"] , #tool-bar [class$="-name"] , #tool-bar [class$="slider"]  {
    cursor: pointer;
}


/* TOOLBAR > Song Preview */

.song-preview {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    padding: 10px;
}

.song-preview__album-img {
    max-width: 42px;
    min-width: 28px;
}

.song-preview__song-name {
    font-weight: 500;
    margin-bottom: 3px;
}

.song-preview__artist-name {
    font-size: 12px;
    color: #7D7F84;
    font-weight: 450;
}

.song-preview__song-name:hover , .song-preview__artist-name:hover {
    text-decoration: underline;
    color: white;
}

.song-preview__icon-list {
    display: flex;
    color: #7D7F84;
    gap: 10px;
}

.song-preview__icon:hover {
    color: white;
}


/* TOOLBAR > player actions */

.player-actions {
    max-width: 525px;
    flex-grow: 1;
}

.player-actions__icon-list {
    max-width: 188px;
    margin: 0 auto 14px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.player-actions__icon--large {
    cursor: pointer;
    font-size: 35px;
    margin: 0 10px;
}

.player-actions__icon--large:hover {
    font-size: 40px;
}

.player-actions__time-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}

.player-actions__time-frame {
    font-size: 12px;
    font-weight: 500;
}

.player-actions__time-slider {
    position: relative;
    flex-grow: 1;
}

.player-actions__slider-total-time {
    height: 4px;
    border-radius: 2px;
    width: 100%;
    background-color: #5A5A5A;  
    position: absolute;
}

.player-actions__slider-current-time {
    height: 4px;
    border-radius: 2px;
    background-color: #C1C1C1;
    width: 25%;
    position: relative;
    z-index: 10;
}

.player-actions__time-slider:hover > .player-actions__slider-current-time {
    background-color: #1DB954;
}

.player-actions__time-slider:hover > .player-actions__slider-current-time::after {
    content: '';
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    left:calc( 100% - 7px);
    top: -4px;
}


/* TOOLBAR > volume actions */

.volume-actions {
    display: flex;
    gap: 15px;
    padding: 10px;
    flex-grow: 1;
    max-width: 210px;
    min-width: 165px;
    align-items: center;
}

.volume-actions__icon-list {
    display: contents;
}

.volume-actions__volume-slider {
    position: relative;
    flex-grow: 1;
    height: 4px;
}

.volume-actions__slider-total-volume {
    height: 100%;
    border-radius: 2px;
    width: 100%;
    background-color: #5A5A5A;  
    position: absolute;
}

.volume-actions__slider-current-volume {
    height: 100%;
    border-radius: 2px;
    background-color: #C1C1C1;
    width: 25%;
    position: relative;
    z-index: 10;
}

.volume-actions__volume-slider:hover > .volume-actions__slider-current-volume {
    background-color: #1DB954;
}

.volume-actions__volume-slider:hover > .volume-actions__slider-current-volume::after {
    content: '';
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    left:calc( 100% - 7px);
    top: -4px;
}